<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Login Suite" parallel="false">
    <listeners>
        <listener class-name="com.salesforce.automation.listeners.AnnotationTransformer"/>
        <listener class-name="com.salesforce.automation.listeners.TestListener"/>
    </listeners>
    <test name="Salesforce Login Tests">
        <classes>
            <class name="com.salesforce.automation.tests.ValidLoginTest"/>
            <class name="com.salesforce.automation.tests.InvalidLoginTest"/>
        </classes>
    </test>
</suite>
